{% extends 'base.html' %}
{% load static %}

{% block body %}
  <div class="container">
    <h1>Edit Blog Post</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.title.label_tag }} {{ form.title }}<br>
      {{ form.body.label_tag }} {{ form.body }}<br>
      {{ form.categories.label_tag }} {{ form.categories }}<br>  {# Render categories as a dropdown select box #}
      {{ form.image.label_tag }} {{ form.image }}<br>
      <!-- {{ form.as_p }} -->
      <button class="btn btn-danger" type="submit">Save Changes</button><br><br>
    </form>
  </div>
{% endblock %}
